<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    给POJO类起别名-->
    <typeAliases>
        <!--        <typeAlias type="cn.pojo.User" alias="User"></typeAlias>-->
        <typeAlias type="org.example.pojo.Content" alias="Content"/>
    </typeAliases>
    <!--    用于寻找到mappers文件的配置-->
    <mappers>
        <mapper resource="Mapper/ContentMapper.xml"/>
    </mappers>
</configuration>